.stylerow1
{
    margin-top: 100px;
}
.imgcom
{
    width: 800px;
    height: 400px;
}

.icons
{
    height: 40px;
}
.div2
{
    padding: 10px;
  
}
.rim
{
    text-align: center;
    margin-left: 80px;
}

@media only screen and (max-width: 280px){
    .rim{
        margin-left: 0px;
    }
}
@media only screen and (max-width: 300px){
    .rim{
        margin-left: 0px;
    }
}
@media only screen and (max-width: 320px){
    .rim{
        margin-left: 0px;
    }
}
@media only screen and (max-width: 360px){
    .rim{
        margin-left: 0px;
    }
}
@media only screen and (max-width: 375px){
    .rim{
        margin-left: 0px;
    }
}
@media only screen and (max-width: 411px){
    .rim{
        margin-left: 0px;
    }
}
@media only screen and (max-width: 414px){
    .rim{
        margin-left: 0px;
    }
}
@media only screen and (max-width: 1280px){
    .rim{
        margin-left: 0px;
    }
}