.footer
{
    background-color:black;
    color: whitesmoke;
    padding: 20px;
   
    
}
.iconsstyle
{
    padding:10px;

}

.footertitle
{
    text-align: center;
     

}
.footercontent
{
    line-height: 22pt;
}
.h4style
{
    padding:15px
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    .box{
        text-align: center;
        margin-left: 1px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .box{
        text-align: center;
        margin-left: 10px;
    }
  }
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .box{
        text-align: center;
        margin-left: 10px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .box{
        text-align: left;
    }
  } 
  @media only screen and (max-width: 992px) {
    .box{
        text-align: center;
    }
  } 
  @media only screen and (max-width: 1024px) {
    .box{
        text-align: center;
    }
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .box{
        text-align: center;
        
    }
}
  